:root {
    --btn-primary : #0A2463;
    --paragraph-color : grey;
    --input-color : #f3f4f7;
    --font-primary : 'Rubik', sans-serif;
}
.businessForm {
    margin-left: 3rem;
    margin-top: 1.5rem;
}

.particularForm {
    margin-left: 3rem;
    margin-top: 4.5rem;
}

.form {
    display:flex;
    flex-direction: column;
    width: 30%;
}

.half-width-input {
    width: 100%;
}
.zip-code {
    width: 40%;
}

.city {
    width: 40%;
}

.tellUs {
    margin-top: 0.5rem;
}








.texts {
    font-family: var(--font-primary);
    margin-left: 0.3rem;
}

p {
    font-size: 14px;
    color: var(--paragraph-color);
    font-weight: 300;
}

.userType {
    font-size: 12px;
}

input {
    width: auto;
    margin: 0.3rem;
    padding: 0.9rem;
    border-radius: 0.3rem;
    background-color: #f3f4f7;
    border: none;
    font-family:'Rubik', sans-serif; 
    font-weight: 500;
    color: #828d92;
}


.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    justify-content: space-between;
    
}
.SaveData {
    background-color: #0A2463;
    color: white;
    border: none;
    font-family:'Rubik', sans-serif ;
    padding: 0.8rem;
    width: 30%;
    border-radius: 0.3rem;
    cursor: pointer;
    
}
.goBack {
    background-color: white;
    color: #cccccc;
    border-radius: 0.3rem;
    font-family:'Rubik', sans-serif ;
    width: 30%;
    border: 0.15rem solid lightgray;
    cursor: pointer;
    margin-right: 8.3rem;

}





