:root {
    --color-primary : #0a2463;
    --font-primary : 'Rubik', sans-serif;
    --font-color-primary : white;
    --font-weight-primary : 300;
    --font-size : 18px;
    --font-size-secondary : 14px;
    
}

body {
    background-color: #f7f5f0;
}

.box {
    border-radius: 0.5rem;
    background-color: white;
    width: 40%;
    margin: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    
}

.balanceBox {
    border-radius: 0.5rem;
    background-color: white;
    width: 25%;
    margin: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.boxHeader {
    padding: 2rem;
    font-family: var(--font-primary);
    border-bottom: 1px solid lightgray;
}

.operation, .title {
    margin-left: 2rem;
}

.boxBody {
    padding: 2rem;
    margin-left : 2rem
}

.input {
    margin-bottom: 1rem;
}


.submit {
        background-color: #0A2463;
        color: white;
        border: none;
        font-family:'Rubik', sans-serif ;
        padding: 0.8rem;
        width: 90px;
        border-radius: 0.4rem;
        cursor: pointer;
        margin-top: 1rem;    
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.balance {
    font-family: var(--font-primary);
    font-size: 30px;
}

p {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-primary);
    font-size: var(--font-size-secondary);
    margin-top: .3rem;
}

.error-message {
    color: red;
}


